.auth-container {
    width: 35%;
    height: 60vh;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 8%;
    text-align: center;
    margin-bottom: 15%;
    // background: $lightSea;
    padding-top: 0%;
    border-radius: 50px;
    // box-shadow: 0px 0px 85px 55px $lightSea;
    margin-top: 120px;

    .auth-input {
        padding: 18px;
        width: 230px;
        font-size: 20px;
        // font-family: $boring;
        margin-top: 25px;
        border-radius: 10px;
        outline: none;
        box-shadow: 2px 2px 10px 2px #167686;
    }

    .auth-submit:hover{
        background: #D13F72;
    }

    .auth-input::placeholder {
        color: pink;
    }

    .auth-title {
        // font-family: $unicornFont;
        font-size: 60px;
        margin-bottom: 25px;
    }
}