.cart-main{
    background-color: #0F4C5C;
    min-height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    padding-bottom: 120px;
}
.cart-items{
    height:auto;
    padding-top:50px;
    width:100%;
    h4{
        font-size: 25px;
    }
    button{
       
        color:white;
        padding:20px
    }
    a{
        display:block;
        color:white;
        text-decoration: none;
        width:100px;
        height:25px;
        margin:0 auto;
        padding:20px;
    }
}
.cs{
    box-shadow:2px 2px 3px black;
    background-color:#EAE6E5;
    margin: 0 auto;
    text-decoration: none;
    color:black;
    margin-top:145px;
    padding: 10px;
    height:65px;
    width:130px;
    border-radius: 2px;
    font-family: "Stoke", sans-serif;
    p {
        padding-bottom: 5px;
        margin: 5px;
    }
}

.cs:hover {
    
}

.cart-card{
    background-color: white;
    display:flex;
    justify-content: space-between;
    height:auto;
    width:60%;
    margin:0 auto;
    border-bottom:2px solid black;
    padding:10px 25px;
    img{
        height:auto;
        width:100%;
    }
}
.card-header{
    font-family: 'Vollkorn', serif;
    display:flex;
    flex-direction:column;
    justify-content:center;
    width:15%;
}
.card-body{
    padding:25px;
    font-family: 'Vollkorn', serif;
    h1{
        font-size: 30px;
    }
    width:50%;
}
.card-footer{
    width:15%;
    input{

        width:35px;
    }
    button{
        box-shadow:5px 5px 20px black;
        border-radius:40%;
        color:red;
        padding:5px;
        margin:5px;
    }
    
    h3{
        padding:10px 10px;
    }
}
.money{
    color:#EDAE49;
}
.cart-checkout{
    button{
        color:black;
    }
    h4{
    padding:10px;
    }
    position:fixed;
    right:45px;
    top:260px;
    text-align:right;
    background-color: #fff;
    height:auto;
    width:auto;
}