.castSpell {
    width: 100%;
    height: 100vh;
    .castspell-nav-container {
        display: none;
    }
    .spell-section {
        position: relative;
        display: flex;
        height: 100vh;
        button {
            color: black;
            background-color: rgb(253, 242, 226);
            padding: 5px;
            box-shadow: 2px 2px 5px white;
            outline: none;
            cursor: pointer;
        }
        .castspell-back-btn {
            position: absolute;
            left: 700px;
            top:30px;
        }
        .spell-image {
            position: relative;
            width: calc(100% - 800px);
            background-image: url('https://pre00.deviantart.net/720f/th/pre/f/2013/338/5/5/pottermore_background___gryffindor_common_room_1_by_xxtayce-d6wp5ot.jpg');
            background-position: -150px 0px; 
            background-size: cover;
            height: 100vh;
            overflow: hidden;
        }
        .spell-box {
            position: relative;
            width: 800px;
            height: auto;
            z-index: 10;
        }
    }
    .castspell-background {
        background-image: url('https://pre00.deviantart.net/720f/th/pre/f/2013/338/5/5/pottermore_background___gryffindor_common_room_1_by_xxtayce-d6wp5ot.jpg');
        background-size: cover;
        width: 100%;
        height: 100vh;
    }
    .feather{
        transform: rotateY(180deg) rotate(310deg);
        position: absolute;
        top: 300px;
        left: 300px;
    }
    .feder { 
        display: block;
        transition: 3s;
        transition-delay: 1s;
        // transform: rotateY(180deg) rotate(310deg);
        position: relative;
     }
    .feder2 { 
        opacity: 0;
        transition: 3s;
        transition-delay: 1s;
        transform: rotateY(360deg) rotate(380deg);
        position: relative;
        
     }
    .invisible {
        background-color: green;
        position: absolute;
        width: 45px;
        height: 35px;
        z-index: 10;
        opacity: 0;
    }
    .boxes{
        position: absolute;
        width: 30px;
        height: 30px;
        background-color: rgb(128, 99, 141);
        border-radius: 50%;
        // box-shadow: 0px 0px  100px 20px black;
    }
    .hide-boxes { display: none }
    .show-boxes { display: block }
    .spell3-animation {
        position: relative;
        .candle1 { 
            width: 100px;
            position: absolute;
            top: 370px;
            left: 526px;
            img {width: 120px}
        }
        .candle2 { 
            width: 100px;
            position: absolute;
            top: 380px;
            left: 116px;
            img {width: 110px}
        }
        .candle3 { 
            width: 100px;
            position: absolute;
            top: 345px;
            left: 365px;
            img {width: 110px}
        }
        .light-on {
            background-color: #fff;
            display: block;
            width: 40px;
            height: 40px;
            border-radius: 50%;
            position: absolute;
            top: 140px;
            left: 155px;
            box-shadow: 0px 0px 200px 100px yellow;
            transition: 2s;
            transition-delay: 1s;
        }
        .light-off { 
            opacity: 0;
            transition: 2s;
            transition-delay: 1s;
        }
    }


    /////   svg animations 
    .castspell-container {
        margin-top: 30px;
        cursor: pointer;
        .pp{
            margin-top: 20px;
            color: white;
            font-size: 35px;
            word-spacing: 5px;
            font-family: 'Satisfy'
        }
    }
    .svg-level1-stars-2 {
        opacity: 1;
        animation: 8s stars forwards
    }
    .svg-level1-stars-3 {
        opacity: 1;
        animation: 3s stars forwards
    }
    .svg-level1-stars-1 {
        opacity: 1;
        animation: 6s stars forwards
    }
    
    .svg-spell-1 {
        stroke-dasharray: 1800;
        stroke-dashoffset: 1800;
        animation: 6s spell-1 forwards;
        animation-delay: 1s;
    }
    .svg-spell-2 {
        stroke-dasharray: 1900;
        stroke-dashoffset: 1900;
        animation: 6s spell-2 forwards;
        animation-delay: 1s;
    }
    .svg-spell-3 {
        stroke-dasharray: 1600;
        stroke-dashoffset: 1600;
        animation: 6s spell-3 forwards;
        animation-delay: 1s;
    }
    @keyframes stars {
        from {
            opacity: 0;
        }
        to {
            opacity: 1;
        }
    }
    @keyframes spell-1 {
        from {
            stroke-dashoffset: 1800
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    @keyframes spell-2 {
        from {
            stroke-dashoffset: 1900
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    @keyframes spell-3 {
        from {
            stroke-dashoffset: 1600
        }
        to {
            stroke-dashoffset: 0;
        }
    }
    

//////// level - 1 
.level1-arrow1 {
    position: absolute;
    top: 100px;
    left: 140px;
    transform: rotate(40deg);
    img { width: 100px }
}
.level1-arrow2 {
    position: absolute;
    top: 300px;
    left: 160px;
    transform: rotate(120deg)
}
.level1-arrow3 {
    position: absolute;
    top: 500px;
    left: 100px;
    transform: rotateX(180deg) rotate(320deg);
    img { width: 200px }
}
.level1-arrow4 {
    position: absolute;
    top: 500px;
    right: 190px;
    transform: rotateX(180deg) rotate(30deg);
    img { width: 200px }
}
.level1-arrow5 {
    position: absolute;
    transform: rotateX(180deg) rotate(110deg);
    top: 290px;
    right: 140px;
}
.level1-arrow6 {
    position: absolute;
    top: 120px;
    right: 150px;
    transform: rotate(320deg)
}
.level1-start {
    position: absolute;
    top: 10px;
    left: 60px;
    z-index: 2;
}

.visible-1 {
    top: 50px;
    left: 100px;
    background-color: rgb(238, 213, 102);
}
.visible-2 {
    top: 170px;
    left: 230px;
}
.visible-3 {
    top: 400px;
    left: 130px;
}
.visible-4 {
    top: 580px;
    left: 320px;
}
.visible-5 {
    top: 400px;
    right: 180px;
}
.visible-6 {
    top: 200px;
    right: 250px;
}
.visible-7 {
    top: 70px;
    right: 120px;
}
.box-8 {
    top: 70px;
    left: 150px;  
}
.box-9{
    top: 220px;
    left: 230px;
}
.box-10{
    top: 460px;
    left: 130px
}
.box-11 {
    top: 450px;
    right: 185px;
}
.box-12{
    top: 230px;
    right: 200px;
}
.box-13 {
    top: 70px;
    right: 120px;
}
.box-14 {
    top: 120px;
    left: 210px;
}
.box-15 {
    top: 290px;
    left: 230px;
}
.box-16 {
    top: 350px;
    left: 180px;
}
.box-17 {
    top: 510px;
    left: 180px;
}
.box-18 {
    top: 550px;
    left: 250px;
}
.box-19 {
    top: 550px;
    right: 330px;
}
.box-20 {
    top: 500px;
    right: 230px;
}
.box-21{
    top: 330px;
    right: 160px;
}
.box-22 {
    top: 280px;
    right: 170px;
}
.box-23 {
    top: 150px;
    right: 240px;
}
.box-24 {
    top: 90px;
    right: 200px;
}

//////// level - 2
.level2-arrow1 {
    position: absolute;
    top: 590px;
    left: 315px;
    transform: rotateX(180deg) rotate(150deg);
    img{ width: 80px}
}
.level2-arrow2 {
    position: absolute;
    transform: rotateX(180deg) rotate(200deg);
    top: 600px;
    left: 110px;
}
.level2-arrow3 {
    position: absolute;
    top: 540px;
    left: 40px;
    transform: rotate(300deg)
}
.level2-arrow4 {
    position: absolute;
    top: 470px;
    left: 300px;
    transform: rotate(15deg);
    img { width: 250px;}
}
.level2-arrow5 {
    position: absolute;
    top: 480px;
    right: 50px;
    transform: rotateX(180deg) rotate(100deg);
    img { width: 100px}
}
.level2-arrow6 {
    position: absolute;
    top: 180px;
    right: 120px;
    transform: rotateX(180deg) rotate(130deg);
    img { width: 250px }
}
.level2-arrow7 {
    position: absolute;
    left: 255px;
    top: 270px;
    transform: rotate(90deg);
    img { width: 300px}
}
.level2-start {
    position: absolute;
    top: 700px;
    left: 350px;
    z-index: 2;
}
.level2-1 {
    top: 640px;
    left: 390px;
    background-color: rgb(238, 213, 102); 
}
.level2-2 {
    top: 570px;
    left: 280px;
}
.level2-3{
    top: 640px;
    left: 60px;
}
.level2-4{
    top: 450px;
    left: 180px;
}
.level2-5 {
    top: 570px;
    right: 100px;
}
.level2-6{
    top: 350px;
    right: 120px;
}
.level2-7 {
    top: 60px;
    left: 390px;
}
.level2-8 {
    top: 600px;
    left: 350px;
}
.level2-9 {
    top: 570px;
    left: 280px;
}
.level2-10 {
    top: 580px;
    left: 200px;
}
.level2-11 {
    top: 600px;
    left: 130px;
}
.level2-12 {
    top: 640px;
    left: 50px;
}
.level2-13{
    top: 580px;
    left: 40px;
}
.level2-14{
    top: 490px;
    left: 90px
}
.level2-15 {
    top: 450px;
    left: 180px;
}
.level2-16 {
    top: 440px;
    left: 280px;
}
.level2-17 {
    top: 450px;
    left: 370px
}
.level2-18 {
    top: 470px;
    right: 300px;
}
.level2-19 {
    top: 520px;
    right: 200px;
}
.level2-20 {
    top: 570px;
    right: 100px;
}
.level2-21 {
    top: 470px;
    right: 70px;
}
.level2-22 {
    top: 350px;
    right: 100px;
}
.level2-23 {
    top: 250px;
    right: 150px;
}
.level2-24{
    top: 120px;
    right: 280px;
}
.level2-25 {
    top: 60px;
    left: 390px;
}
.level2-26 {
    top: 180px;
    left: 390px;
}
.level2-27 {
    top: 300px;
    left: 390px;
}
.level2-28 {
    top: 530px;
    left: 390px
}
.level2-29 {
    top: 530px;
    left: 390px;
}

//// Level 3
.level3-arrow1 {
    position: absolute;
    top: 140px;
    right: 140px;
    transform: rotate(45deg);
    img {width: 150px;}
}
.level3-arrow2 {
    position: absolute;
    top: 380px;
    right: 150px;
    transform: rotate(140deg);
    img { width: 180px}
}
.level3-arrow3 {
    position: absolute;
    top: 390px;
    left: 130px;
    transform: rotate(220deg);
    img { width: 180px}
}
.level3-arrow4 {
    position: absolute;
    top: 140px;
    left: 160px;
    transform: rotate(325deg);
    img { width: 165px;}
}
.level3-arrow5 {
    position: absolute;
    top: 370px;
    left: 255px;
    transform: rotate(90deg);
    img { width: 300px}
}
.level3-start {
    position: absolute;
    top: 130px;
    right: 270px;
    z-index: 2;
}
.level3-1 {
    top: 80px;
    right: 300px;
    background-color: rgb(238, 213, 102);
}
.level3-2 {
    top: 250px;
    right: 130px;
}
.level3-3 {
    top: 470px;
    right: 410px;
}
.level3-4 {
    top: 250px;
    left: 130px;
}
.level3-5 {
    top: 80px;
    left: 390px;
}
.level3-6 {
    top: 670px;
    left: 390px;
}
.level3-8 {
    top: 85px;
    right: 240px;
}
.level3-9 {
    top: 130px;
    right: 180px;
}
.level3-10 {
    top: 190px;
    right: 140px;
}
.level3-11 {
    top: 290px;
    right: 140px;
}
.level3-12 {
    top: 350px;
    right: 180px;
}
.level3-13 {
    top: 410px;
    right: 230px;
}
.level3-14 {
    top: 460px;
    right: 300px;
}
.level3-15 {
    top: 470px;
    left: 375px;
}
.level3-16 {
    top: 460px;
    left: 300px;
}
.level3-17 {
    top: 410px;
    left: 230px;
}
.level3-18 {
    top: 350px;
    left: 180px;
}
.level3-19 {
    top: 290px;
    left: 140px;
}
.level3-20 {
    top: 190px;
    left: 150px;
}
.level3-21 {
    top: 140px;
    left: 200px;
}
.level3-22 {
    top: 100px;
    left: 270px;
}
.level3-23 {
    top: 80px;
    left: 340px;
}
.level3-24 {
    top: 150px;
    left: 390px;
}
.level3-25 {
    top: 290px;
    left: 390px;
}
.level3-26 {
    top: 390px;
    left: 390px;
}
.level3-27 {
    top: 670px;
    left: 390px;
}

}

