@import url('https://fonts.googleapis.com/css?family=Cantarell|Concert+One|Corben|Headland+One|Jua|Modern+Antiqua|Righteous|Sacramento|Special+Elite');
.home  {
    .header {
        background-image:linear-gradient(rgba(0, 0, 0, 0.479), rgba(0, 0, 0, 0.521)), url(https://s3-us-west-1.amazonaws.com/personal-project-1989/Group-Project/background.jpg);
        background-size: cover;
        background-attachment: fixed;
        width: 100%;
        height: 100vh;
    }
    .header-text {
        position: relative;
        top: 40%;
        display: flex;
        justify-content: space-around;
        stroke: rgb(216, 215, 215);
        stroke-width: 2px;
        fill: rgb(216, 215, 215);
    }
    .store {
        background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Group-Project/stone.jpg');
        background-size: cover;
        position: relative;
        display: flex;
        justify-content: center;
        border-top: 5px solid rgb(255, 255, 255);
        box-shadow: 0 0 50px 25px white;
    }
    .spinnews {
        position: absolute;
        top: -230px;
    }
    .go-store{
        position: relative;
        height: 500px;
        background-position: 0 -70px;
        width: 70%;
        background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Group-Project/ollivanders.jpg');
        background-size: cover;
        margin: 400px auto 100px auto;
        border: 3px solid white;
        box-shadow: 10px 10px 25px black;
            button {
                position: absolute;
                background-color: rgba(20, 20, 20, 0.822);
                border-radius: 10px;
                box-shadow: 0px 0px 80px black;
                color: white;
                font-size: 70px;
                padding: 50px 70px;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);
                font-family: 'Corben', cursive;
                line-height: 80px;
            }
    }

    //      news     /////////

    .news {
        background-image: url('https://s3-us-west-1.amazonaws.com/personal-project-1989/Group-Project/woodwall.jpg');
        background-size: cover;
        padding-bottom: 200px;
        padding-top: 100px;
            .news-paper {
                position: relative;
                margin: auto;
                width: 750px;
            }
            .daily {
                position: absolute;
                top: 50px;
                width: 650px;
                height: 900px;
                // border: 2px solid black;
                left: 50px;
                font-family: 'Special Elite', cursive;
                
                h1 {
                    padding: 30px;
                    margin: 0;
                    font-size: 50px;
                }
                h2{
                    font-size: 38px;
                    border-top: 2px solid black;
                    border-bottom: 2px solid black;
                    padding-top: 20px;
                    padding-bottom: 10px;
                    margin-bottom: 10px;
                }
                h3 {
                    font-size: 30px;
                    margin: 0;
                    padding: 0;
                }
                p {
                    margin: 0 5px;
                    padding: 0 5px;
                }
                h4 {
                    font-size: 36px;
                    border-top: 2px solid black;
                    padding-top: 20px;
                    margin-bottom: 10px;
                }

                .paper-logo{
                    width: 90px;
                    float: left;
                    margin-left: 20px;
                }
                .gif-dumbl {
                    width: 270px;
                    filter: grayscale(100%);
                }
                .news-line_1 {
                    display: flex;
                    justify-content: space-between;
                }
                .escape {
                    display: flex;
                    justify-content: space-around;
                    h3 {
                        margin-top: 30px;
                        margin-bottom: 10px;
                        font-size: 26px;
                    }
                    img {
                        width: 200px;
                        box-shadow: 2px 2px 10px black;
                    }
                }
            }

   }

       //      housing     /////////

}