

.SortingQuiz {
    height: 100vh;
    max-height: 100vh;
    display: flex;
    justify-content: center;
    align-content: center;

    .questioncontainer{
        margin:0;
        width: 50%;
        height: 100%;
        .images{
            width: 100%;
            height: 100%;
        }
        // .backbtn {
        //     height:50px;
        //     width:50px;
        //     background-color: grey;
        //     border-radius: 10px;
        //     padding:10px;
        //     text-decoration: none;           
        // }
        // .questiontext {
        //     margin: 35% auto;
        //     width: 90%;
        //     height: 90%;
        //     font-size:24px;
        // }
    }
    .answercontainer {
        margin: auto 0;
        width: 50%;
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        background-color: purple;

        .answerdiv{
            height:500px;
            padding:10% 0;
            display: flex;
            flex-direction: column;
            justify-content: space-between;
            position: relative;
            .answertoggleup {
                width: 50px; 
                height: 50px;
            }
            .answertoggleup:hover{
                cursor: pointer;
            }
            .answertext {
                font-size:24px;
                margin:130px;
            }
            .answertoggledown {
                width: 50px;
                height: 50px;
                position: absolute;
                bottom: 0px;
                transform:rotate(180deg) translate(50%);
            }
            .answertoggledown:hover{
                cursor: pointer;
            }

        }

        .answerselectbtn {
            margin: auto;
            width: 60px;
            height: 30px;
            background-color: rgb(255, 255, 255);
            border-radius: 2px;
            box-shadow: 3px 4px 10px rgb(49, 49, 49);
            transition: 0.5s;
        }

        .answerselectbtn:hover{
            color: white;
            background-color: rgb(129, 146, 161);
            box-shadow: 3px 4px 10px rgb(184, 184, 184);
            cursor: pointer;
        }
    }
    .circlesContainer{
        display:flex;
        flex-direction: column;
        align-content: center;
        justify-content: space-around;
        height: 200px;
        margin-left:20%;
        position:absolute;
        .currentanswer{
            width:15px;
            height:15px;
            background-color: white;
            border-radius: 50px;
            border:3px solid white;
        }
        .notcurrentanswer{
            width:15px;
            height:15px;
            border-radius: 50px;
            border:3px solid white;
        }
    }

}