.products-main{
    color:white;
    background: transparent;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    margin:35px;
    width:200px;
    border:3px solid white;

}
.product-display img{
    height:100px;
    width:auto;
}
.store-header{
    padding-top:80px;
}
.store-main{
    h1{font-size: 75px;
    color:white;}
    background-color: black;
    height:100vh;
    width:100%;
    display:flex;
    flex-direction:column;
    overflow: hidden;
}
.store-products{
    margin-top: 75px;
    display:flex;
    flex-wrap: wrap;
    overflow:scroll;
    overflow-x: hidden;
    width:100%
}
.product-display{
    width:200px;
    background:transparent;
}
.buttons{
    padding:15px 10px;
    display:flex;
    justify-content: space-around;
}
.show-image{
    .store-main{
        background-color: white;
    }
    justify-content: center;
    z-index:1;
    width:200px;
    position:fixed;
}

    .item-store{
    display:flex;
    flex-direction: column;
    border:2px solid white;
    height:auto;
    width:30%;
    position: fixed;
    bottom:20px;
    left:35%;
    background-color:red;
    img{
    height:300px;
    width:auto;
    }
}
