.store-products{
    display:flex;
    flex-wrap: wrap;
    width:100%;
    justify-content: center;
    padding:50px;
}
.products-main{
    color:white;
    display: flex;
    width:23%;
    flex-wrap: wrap;
    flex-direction: column;
    // justify-content: center;
    margin:0px 30px;
    height:500px;
}
.product-display {
    img{
        padding-top:20px;
        margin: 0 auto;
        height:auto;
        width:80%;
    }
    width:100%;
    height:auto;
    background-color: #fff;
    justify-content: center;
    box-shadow: 2px 2px 10px black;
}

.store-header{
    h1{
        padding:15px 0;
        color:white;
    }
    p{
        font-size:30px;
    }
    .da{
        font-size:55px;

    }

    font-size:40px;
    padding-top:180px;
    font-family: 'Stoke', serif;
    color:white;
}
.product-image{
    margin-bottom:20px;
    height:100%;
    width:100%;
}
.product-footer{
   h3, button{
       
       font-size:23px;
       padding:5px;
       
   }
   button {
    box-shadow: 2px 2px 10px black;
    margin-top: 10px;
    background-color: #e8e8e4;
    cursor: pointer;
   }
   button:hover{
       background-color: white; 
       box-shadow: 1px 1px 10px 2px white;
       padding: 6px;
   }
    display:flex;
    flex-direction:column;
    padding:20px;
    font-family: 'Vollkorn', serif;
}
.store-main{
    a{
    color:white;
  
    }
    background-color: maroon;
    width:100%;
    display:flex;
    flex-direction:column;
}
.buttons{
    padding:15px 10px;
    display:flex;
    justify-content: space-around;
    
}
.show-image{
    .store-main{
        background-color: white;
    }
    justify-content: center;
    z-index:1;
    width:200px;
    position:fixed;
}
.item-popup{
    position: fixed;
    background:transparent;
    height:100vh;
    width:100%;
    
}
    .item-store{
    display:flex;
    flex-direction: column;
    align-items: center;
    border:2px solid white;
    max-height:90%;
    width:50%;
    position: fixed;
    top: 50%;
    left:50%;
    transform: translate(-50%, -50%);
    background-color:#EAE6E5;
    padding: 30px;
    box-shadow: 1px 1px 155px 35px black;
    border-radius: 2px;
    img{
    height:auto;
    width:45%;
    margin: 30px 0px;
    box-shadow: 2px 2px 10px black;
    }
    .item-header, .item-body {
        height: 100%;
    }
    h3 {
        font-size: 30px;
        font-family: 'Stoke', serif;
    }
    p {
        font-size: 19px;
        font-family: 'Vollkorn', serif;
        max-height: 150px;
        overflow: scroll;
    }
    hr {
        margin: 20px 0;
    }
}
.filter-cart{
    select{
        margin-right:100px;
    }
    padding-top:20px;
    font-size:15px;
}

.cart-quantity{
    position: relative;
    display:inline;
    p{
        color:maroon;
        font-size:16px;
        position:absolute;
        bottom:90%;
        left:46%;
        // transform: translate(50%)
    }
}

#listFilter {
    margin-left: 5px;
    margin-right: 120px;
}
